<<<<<<< HEAD
body{
  background-image: url(images.jpg);
  background-repeat:no-repeat ;
  background-size: cover;
  background-attachment: fixed;
}

=======
*{margin: 0;
  padding: 0;

}
body{
  background-image: url(images.jpg);
  background-repeat:no-repeat ;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;}
  
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
  
}
img{
  width: 50px;
  
}
nav ul{
  list-style: none;
align-items: center;
  display: flex;
  
  
}

nav ul li a{
  text-decoration: none;
  cursor: pointer;
  color: aliceblue;
  padding: 15px 20px;
  background-color: rgba(102, 161, 219, 0.815);
  margin: 20px;
  border-radius: 1rem;
  
}
nav ul li a:hover,.ho{
  background-color:  rgb(120, 128, 8);
}
div{text-align: center;
  margin: 15px;
  align-items: center;
 
  
}
h1{
 color: rgb(120, 128, 8);
  font-size: 60px;
  margin-top: 40px;
}
p{
  font-size: 30px;color: rgb(53, 49, 45);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  line-height: 1.4;
}
button{
  margin-top: 20px;
  padding: 10px;
background-color: rgb(90, 138, 228); 
border-radius: 5px;
border: 2px solid;

}

button a{
  text-decoration: none;
  color: rgb(233, 223, 223);
}
button:hover{
  background-color: aqua;
}
@media (max-width: 768px){
  nav{
    flex-direction: column;
    padding: 10px;
  }
  nav ul {
flex-direction: column;
width: 100%;
padding: 0; 
  }
  nav ul li a{
    display: block;
    margin: 5px 0;
    text-align: center;
  }
  img{
    max-height: 100%;
  height: auto;
  }
  h1{
    font-size: 40px !important;
  }
  p{
    font-size: 20px !important;
    padding: 0 15px;
  }
  
  
}




>>>>>>> 5443a2c (Adding CSS formatting to links and text)
